/*Main +*/
:root {
    --title-color: #2e2f42;
    --first-color: #4d5ae5;
    --second-color: #404bbf;
    --color-btn-white: #e7e9fc;
    --icon-color: #8e8f99;
    --line-height: 1.5;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /*outline: 2px solid red;*/
}

.headline {
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.no-scroll {
    overflow: hidden;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
}

/*animation tracking-in-expand*/
@-webkit-keyframes my-animation {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes my-animation {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/*animation kenburns-top*/
@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

/*header -*/
.header {
    background: #ffffff;
    border-bottom: 1px solid var(--color-btn-white);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-first {
    color: var(--first-color);
}

.header-logo-second {
    margin: 0 auto;
    color: var(--title-color);
}

.address {
    display: none;
}

.header-list {
    display: none;
}

/*Mobile*/
.mobile-menu-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    top: 24px;
    right: 24px;
    border: none;
    background-color: transparent;
}

.mobile-menu-icon {
    stroke: var(--title-color);
}

.mobile-menu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 100;

    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    padding: 80px 24px 40px 40px;
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.mobile-menu.is-open {
    display: flex;
}

.mobile-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: color var(--transition);
    transition: background-color var(--transition), border var(--transition);
}

.mobile-close-icon {
    fill: currentColor;
}

.mobile-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

.mobile-link:focus {
    color: var(--second-color);
}

.mobile-link.current {
    color: var(--second-color);
}

.mobile-address-item {
    margin-bottom: 40px;
}

.tel-mobile-address-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--first-color);
}

.email-mobile-address-item {
    margin-bottom: 48px;
}

.mobile-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-soc-list {
    display: flex;
    justify-content: space-between;
}

.mobile-soc-item {
    width: 40px;
    height: 40px;
}

.mobile-soc-link {
    width: 100%;
    height: 100%;
    transition: background-color var(--transition);
    background-color: var(--first-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4fd;
}

.mobile-soc-link:focus {
    background-color: #31d0aa;
}

/*hero*/
.hero {
    padding-top: 112px;
    padding-bottom: 112px;
    align-items: center;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/office-work-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-animation: kenburns-top 2000ms ease-out reverse both;
    animation: kenburns-top 2000ms ease-out reverse both;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), 
        url(../images/office-work-mob-2x.jpg);
    }
}

.hero-button {
    border: none;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color var(--transition);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: 0.04em;
    color: #ffffff;
    background: var(--first-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:is(:hover, :focus) {
    background-color: var(--second-color);
}

/*activity*/
.activity {
    padding-top: 96px;
    padding-bottom: 96px;
}

.activity-container {}

.activity-title {}

.activity-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.activity-item {}

.activity-logo {
    display: none;
}

.activity-icon {}

.activity-character {
    display: flex;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.activity-text {
    line-height: var(--line-height);
    letter-spacing: 0.02em;
}

/*product*/
.product {
    display: none;
}

/*team*/
.team {
    padding-top: 96px;
    padding-bottom: 96px;
    background: #f4f4fd;
}

.team-container {
    max-width: 294px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    /* width: calc((100% - 72px) / 4); */
    width: 100%;
}

.persona-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 232px;
    padding: 32px 16px;
}

.team-name {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.team-activity {
    display: flex;
    text-align: center;
    line-height: var(--line-height);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    transition: background-color var(--transition);
    background-color: var(--first-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-soc-link:is(:hover, :focus) {
    background-color: var(--second-color);
}

.main-soc-icon {
    fill: #f4f4fd;
}

/*Customer */
.customer {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customer-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
}

.customer-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: border-color var(--transition), color var(--transition);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
}

.customer-link:is(:hover, :focus) {
    border-color: var(--second-color);
    color: var(--second-color);
}

.customer-icon {
    fill: currentColor;
}

/*portfolio*/
.portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
}

.menu-container {}

.portfolio-filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 48px;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
}

.filter-item {}

.filter-button {
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    transition: color var(--transition), background-color var(--transition), 
    border-color var(--transition), box-shadow var(--transition);

    line-height: var(--line-height);
    letter-spacing: 0.04em;
    color: var(--first-color);
    background-color: #f4f4fd;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--color-btn-white);
}

.filter-button:is(:hover, :focus) {
    color: #ffffff;
    background-color: var(--second-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
}

.portfolio-item {
    width: 100%;
}

.portfolio-link {
    display: block;
    transition: box-shadow var(--transition);
}

.portfolio-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-portfolio {
    padding: 32px 16px;
    border: 1px solid var(--color-btn-white);
    border-top: none;
}

.portfolio-description {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.portfolio-text {
    line-height: var(--line-height);
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform var(--transition);

    line-height: var(--line-height);
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: var(--first-color);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
    transform: translate(0, 0);
}

/*footer*/
.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background: var(--title-color);
}

.logo-footer-container {
    margin-bottom: 72px;
}

.footer-logo-first {
    display: flex;
    margin: 0 0 16px 0;
    justify-content: center;
    color: var(--first-color);
}

.footer-logo-second {
    display: inline-block;
    margin: 0;
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    margin: 0 auto;
    line-height: var(--line-height);
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.soc-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 208px;
    margin-bottom: 72px;
}

.footer-soc-text {
    display: flex;
    font-weight: 500;
    line-height: var(--line-height);
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    transition: background-color var(--transition);
    background-color: var(--first-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31d0aa;
}

.footer-soc-icon {
    fill: currentColor;
}

.sub-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.sub-label {
    display: flex;
    justify-content: center;
}

.sub-input {
    padding: 8px 16px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border var(--transition);
    opacity: 0.6;
}

.sub-input:focus {
    border: 1px solid var(--first-color);
    outline: none;
}

.sub-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.sub-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    max-width: 165px;
    height: 40px;
    padding: 8px 24px;
    background-color: var(--first-color);
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color var(--transition);
}

.sub-button:is(:hover, :focus) {
    background-color: var(--second-color);
}

.sub-icon {
    margin-left: 16px;
    fill: #ffffff;
}

/*modal window*/
.backdrop {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: visibility var(--transition), opacity var(--transition);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform var(--transition);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
}

.modal-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-btn-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: color var(--transition);
    transition: background-color var(--transition), border var(--transition);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: #ffffff;
    background-color: var(--second-color);
    border: none;
}

.modal-close-btn-icon {
    fill: currentColor;
    transition: fill var(--transition);
}

.modal-title {
    font-weight: 500;
    line-height: var(--line-height);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    color: var(--title-color);
    outline: transparent;
    background-color: transparent;
    transition: border-color var(--transition);
}

.modal-input:focus {
    border-color: var(--first-color);
}

.modal-input:focus+.modal-icon {
    fill: var(--first-color);
}

.input-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-label+ ::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill var(--transition);
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    resize: none;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color var(--transition);
}

.modal-comment:focus {
    border-color: var(--first-color);
    color: var(--title-color);
}

.modal-field-check {
    margin-bottom: 24px;
}

.check-text {
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-check {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    transition: background-color var(--transition), border var(--transition),
        fill var(--transition);
}

.check-link {
    margin-left: 8px;
    color: var(--first-color);
}

.modal-check:checked+.check-text span {
    border: none;
    background: var(--second-color);
    fill: #f4f4fd;
}

.modal-send-btn {
    border: none;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color var(--transition);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: 0.04em;
    color: #ffffff;
    background: var(--first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;
}

.modal-send-btn:hover,
.modal-send-btn:focus {
    background-color: var(--second-color);
}

@media screen and (max-width: 427px) {
    .tel-mobile-address-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .modal {
        width: 95%;
    }
}